@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* Hide scrollbars */

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #2D3250;
}

header {
    background-color: #221e4b;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 0 rgba(80, 119, 242, 0.3);
}

/* nav,.inputSearch{
    display: none;
} */
nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    color: #d7dfff;

}

nav ul li:hover {
    color: #4361ee;
}

.inputSearch,
form {
    display: flex;
    color: white;
    align-items: center;
    height: 40px;
    width: 400px;
    border-radius: 35px;
    overflow: hidden;
    border: 1.5px solid #090068;
}

.inputSearch input {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    border: none;
    outline: none;
    color: white;

    font-size: 16px;
    background: #010127;
}

.inputSearch span {
    width: 70px;
    background-color: #090068;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

.menuBtn {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;

}

.menuBtn:hover {
    background-color: #090068;
    color: #ffffff;
}

.desktop {
    display: none;
}

@media all and (min-width:700px) {
    header {
        padding: 5px 30px;
    }

    .desktop {
        display: flex;
    }

    .menuBtn {
        display: none;
    }
}


/***mobile menu ****/
.mobile {
    position: fixed;
    top: 70px;
    width: 100%;
    max-width: 700px;
    background-color: #2D3250;
    height: 100vh;
    padding: 20px;
    box-shadow: none;
    z-index: 2;
    margin-left: -10px;
}

.mobile nav,
.mobile nav ul {
    flex-direction: column;
}

.mobile .inputSearch,
.mobile form {
    height: 35px;
}

.hidden {
    display: none;
}

@media all and (min-width:700px) {
    .mobile {
        display: none;
    }
}



/***css card***/
main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    margin: auto;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 7px 7px 25px 1px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    overflow: hidden;

    padding-bottom: 10px;
    background: #101953;
    color: whitesmoke;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition: all 1s;
}

.card:hover {
    border: solid 2px white;
}

.card img {
    min-height: 210px;
    max-height: 210px;
    width: 100%;
    background-color: #f4f4f4;
    ;
}

.card h4,
.card div {
    padding: 5px 10px;
    margin: 0px;
}

.publishbyDate {
    display: flex;
    align-items: center;
    color: #a5a1a1;
}

.publishbyDate p {
    margin: 0px;
    font-size: 14px;
}

.publishbyDate span {
    padding: 0px 10px;

}

.desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 0;
    color: whitesmoke;

}

.card a {
    color: inherit;
    text-decoration: none;
}

@media all and (min-width:700px) {
    main {
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card h4,
    .card div {
        padding: 5px 15px;
    }
}

footer {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/simple-footer.png') repeat center;
    display: table;
    width: 100vw;
    height: 4rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

footer span {
    color: #ccc;
    letter-spacing: .025rem;
    margin-bottom: 1.5rem;
    display: block;
}

strong {
    font-weight: 700;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1b1184;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d7dfff;
}

@media (max-width: 480px) {

    .inputSearch,
    form {
        display: flex;
        color: white;
        align-items: center;
        height: 40px;
        width: 100%;
        border-radius: 35px;
        overflow: hidden;
        border: 1.5px solid #090068;
    }

    .desktop {
        display: none;
    }
}


.loader {
    margin: 4%;
    width: 80%;
    display: inline-block;
    font-family: 'Signika', sans-serif;
    text-align: center;
    line-height: 86px;
    text-align: center;
    position: relative;
    padding: 0 48px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.loader:before,
.loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
    top: 0;
}

.loader:after {
    top: auto;
    bottom: 0;
}

@keyframes load {
    0% {
        left: 0;
        height: 43px;
        width: 15px;
        transform: translateX(0)
    }

    50% {
        height: 10px;
        width: 40px
    }

    100% {
        left: 100%;
        height: 43px;
        width: 15px;
        transform: translateX(-100%)
    }
}

@media (max-width: 600px) {
    .loader {
        font-size: 30px;
        line-height: 32px;
        padding: 2%;
    }

    .loader:before,
    .loader:after {

        height: 10px;

    }
    .custom-select{
        display: none;
    }
    .custom-select-mobile{
        display: block;
        
    }
}


.custom-select {
    width: 15%;
    position: relative;
}

select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    margin: 2%;
    padding: 0.65em 0.20rem 0.65em 0.20rem;
    background-color: #090068;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #d7dfff;
    cursor: pointer;
}
.custom-select-mobile{
    display: none;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #4361ee;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #4361ee;
    top: 55%;
}
